html, body, article {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
}
#map {
  top: 50px;
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
}
#home-button {
  top: 8em;
  left: 0.5em;
}
.toolbar {
  height: 50px;
  background-color: #29728C;
}
.toolbar article {
  padding-top: 5px;
}
.app-title {
  padding-left: 10px;
  font-weight: bold;
  font-size: 25px;
  color: white;
}
#wfst {
  padding: 5px;
  background-color: white;
  max-width: 200px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
