html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map {
  width: 100%;
  height: 400px;
}
.attributes-table {
  display: block;
  position: absolute;
  background: rgba(255,255,255,1);
  padding: 15px;
  border: 1px solid #000000;
  bottom: 0px;
  left: 0px;
  height: 45%;
  width: 100%;
  z-index: 101;
}
#main {
  width: 100%;
  height: 100%;
}
