.ol-attribution img {
  max-width: 2em;
}
.ol-scale-line {
  background-color: #0097a7;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#map {
  height: 100%;
}
#content {
  width: 100%;
  height:  100%;
  position: fixed;
  bottom: 0px;
}
#geolocation-control {
  margin-left: 20px;
  position: absolute;
  top: 128px;
}
#zoom-buttons {
  margin-left: 20px;
  position: absolute;
  top: 20px;
}
#home-button {
  margin-left: 20px;
  position: absolute;
  top: 180px;
}
.map {
  position: absolute;
  height: calc(100% - 64px);
}
