body {
  margin: 0;
}

#content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0px;
}
#map {
  width: 100%;
  top: 56px;
  position: absolute;
  height: calc(100% - 56px);
}
#home-button {
  margin-left: 20px;
  position: absolute;
  top: 200px;
  left: 0px;
}
#zoom-buttons {
  margin-left: 20px;
  position: absolute;
  top: 90px;
}
#layerlist {
  position: absolute;
  right: 10px;
  top: 66px;
}
.layerlistbutton {
  position: absolute;
  right: 0px;
  top: 0px;
}
.layer-tree-panel {
  margin-right: 50px;
}
.layer-switcher {
  top: 66px !important;
}
